.homeBackground {
    background-image: url('/src/views/logo-big-background.png'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */;
    height: 100vh;
}