.home-background {
    background-image: url('/src/assets/logo-big-background.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: grid;
    place-content: center;
    place-items: center;

    h1 {
        justify-self: center;
        font-family: var(--Ubuntu-font);
        color: var(--white)
    }
}


.card-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media (max-width: 1200px) {
    .card-container{
        grid-template-columns: repeat(2,1fr);
        padding-top: 0;
        width: inherit;
    }
    .home-background {
        margin-left: 0;
        padding-top: 0%;
        background-image: url('/src/assets/home-back-tablet-phone.png');
        height: 100%;
        background-position: bottom;

        h1{
            font-size: 1.5rem;
        }
    }
}


@media (max-width: 500px) {
    .card-container{
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        place-items: center;
    }
}