.sidebar {
    background-color: #011327;
    width: 8%;
    height: 100vh;
    transition: width 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 70px;

    span{
        display: none;
        transition: all 0.5s ease-in-out;
    }

    .logo-container {
        margin-bottom: 20%;
    }
}
.sidebar.open {
    width: 14%;

    span{
        display: flex;
    }
}

.logo-small {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.svg-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;

    .svg-row a{

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10%;
        color: white;
        font-family: var(--Lora-font);
        font-weight: 500;
        font-size: larger;

        svg{
            fill: white;
            width: 20%;
        }
    }
}

.svg-container:last-child {
    margin-bottom: 15%;
}

@media (max-width: 1200px) {
    .sidebar {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: fit-content;

        .svg-container {
            display: flex;
            flex-direction: row;
        }

        .logo-container {
            margin-bottom: 0px;
            width: 40%;
            min-height: 70px;
            aspect-ratio: 1914/1074;
        }

        .logo-container img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    .sidebar.open {
        width: 100%;
    }

    .svg-container:last-child {
        margin-bottom: 0px;
    }
}

@media (max-width: 500px) {
    .sidebar {

        .logo-container img{
            width: 100%;
        }

        .svg-container {
            width: 100%;

            svg {
                width: 30%;
            }
        }
    }
    
    .sidebar.open span {
        display: none;
    }
}