:root{
    --white: #FFFFFF;
    --blue: #004675;
    --red: #F4341F;
    --green: #C2E812;
    --dark-blue-background-home: #2C2E30;
    --Lora-font: "Lora", serif;
}

#root {
    display: flex;
}

body {
    margin: 0px;
    height: 100vh;
    background-color: var(--dark-blue-background-home);
}

@media (max-width: 1200px) {
    #root {
        flex-direction: column;
    }
}